<?xml version="1.0" encoding="UTF-8"?>
<config>
	<modules>
		<Iways_General>
			<version>0.1.0</version>
		</Iways_General>
	</modules>
	<global>
		<helpers>
			<iways_general>
				<class>Iways_General_Helper</class>
			</iways_general>
		</helpers>
		
		<blocks>
			<iways_general>
				<class>Iways_General_Block</class>
			</iways_general>
			<catalog>
				<rewrite>
					<product_view_attributes>Iways_General_Block_Product_View_Attributes</product_view_attributes>
                    <product_compare_list>Iways_General_Block_Product_Compare_List</product_compare_list>
				</rewrite>
			</catalog>
		</blocks>
		<models>
			<iways_general>
				<class>Iways_General_Model</class>
			</iways_general>
		</models>
		<resources>
			<iways_general_setup>
				<setup>
					<module>Iways_General</module>
					<class>Mage_Eav_Model_Entity_Setup</class>
				</setup>
				<connection>
					<use>core_setup</use>
				</connection>
			</iways_general_setup>
			<iways_general_write>
				<connection>
					<use>core_write</use>
				</connection>
			</iways_general_write>
			<iways_general_read>
				<connection>
					<use>core_read</use>
				</connection>
			</iways_general_read>
		</resources>
		<events>
      		<checkout_cart_product_add_after >
        		<observers>
         			<iways_general_observer>
            			<type>singleton</type>
            			<class>Iways_General_Model_Observer</class>
            			<method>preventConfigurablesInCart</method>
          			</iways_general_observer>
        		</observers>
      		</checkout_cart_product_add_after>
      	</events>
	</global>
	<adminhtml>
        <acl>
            <resources>
                <admin>
                    <children>
                        <system>
                            <children>
                                <config>
                                    <children>
                                        <iways_general>
                                            <title>Iways General Modul Section</title>
                                        </iways_general>
                                    </children>
                                </config>
                            </children>
                        </system>
                    </children>
                </admin>
            </resources>
        </acl>
    </adminhtml>
</config>