
$default-border-radius: 3px;

$success-green: #4F8A10;
// $white: #fff;
$md-black: #2f2f2f;

$md-red: #ef2000;
$md-red-gradient: #9b1200;

$md-orange: #ffa53c;
$md-orange-gradient: #e27700;

$md-grey: #e0dfdf;
$md-grey-gradient: #dbdbdb;

$md-light-blue: #1a92c3;
$md-light-blue-totals: #CFDEE6;

$font-dosis: 'dosis', sans-serif;
$font-dosis-bold: 'dosis', Helvetica, Arial, sans-serif;
$font-weight-thin: 200;
$font-weight-normal: 400;
$font-weight-bold: 700;

$border-color-grey: #c4c6c7;
$font-grey: #85888a;

$font-small: 9px;
$font-normal: 12px;
$font-medium: 15px;
$font-big:  21px;
$font-heavy: 40px;

// Variables imported of Fabians Less Template
$standard: #000000;
$white: #FFFFFF;
$blue: #E6F0F5;
$darkblue: #1a92c3;

$red: #E40305;
$grey: #85888a;

$add-nav-height: 25px;
$auto: 0 auto;

$font-small: 9px;
$font-normal: 12px;
$font-medium: 15px;
$font-big:  21px;
$font-heavy: 40px;

$line-height-small: 16px;
$line-height-normal: 18px;
$line-height-medium: 22px;
$line-height-big: 26px;
$line-height-heavy: 46px;

$fw-light: 300;
$fw-regular: 400;
$fw-bold: 600;

$img-dir: "../img/";
$font-dir: "../fonts/";
$bg-size-retina: 100% auto;

$container-width: 1180px;

// .end Less Template
