<?xml version="1.0" encoding="UTF-8"?>
<config>
    <modules>
        <SolrBridge_Searchrequest>
            <version>1.0.1</version>
        </SolrBridge_Searchrequest>
    </modules>
    <global>
        <blocks>
            <searchrequest>
                <class>SolrBridge_Searchrequest_Block</class>
            </searchrequest>
        </blocks>
        <helpers>
            <searchrequest>
                <class>SolrBridge_Searchrequest_Helper</class>
            </searchrequest>
        </helpers>
        <models>
            <searchrequest>
                <class>SolrBridge_Searchrequest_Model</class>
                <resourceModel>searchrequest_resource</resourceModel>
               
            </searchrequest>
            <searchrequest_resource>
                <class>SolrBridge_Searchrequest_Model_Resource</class>
                <deprecatedNode>searchrequest_mysql4</deprecatedNode>
                <entities>
                    <request>
                        <table>solrbridge_solrsearch_request</table>
                    </request>
                </entities>
            </searchrequest_resource>
        </models>
        <resources>
			<searchrequest_setup>
				<setup>
					<module>SolrBridge_Searchrequest</module>
				</setup>
			</searchrequest_setup>
		</resources>
    </global>
    <frontend>
        <routers>
            <searchrequest>
                <use>standard</use>
                <args>
                    <module>SolrBridge_Searchrequest</module>
                    <frontName>srequest</frontName>
                </args>
            </searchrequest>
        </routers>
        <layout>
            <updates>
                <searchrequest>
                    <file>solrbridge/searchrequest.xml</file>
                </searchrequest>
            </updates>
        </layout>
    </frontend>
    <admin>
        <routers>
            <adminhtml>
                <args>
                    <modules>
                        <searchrequest after="Mage_Adminhtml">SolrBridge_Searchrequest_Adminhtml</searchrequest>
                    </modules>
                </args>
            </adminhtml>
        </routers>
    </admin>
    <adminhtml>
		<layout>
			<updates>
				<searchrequest>
					<file>searchrequest.xml</file>
				</searchrequest>
			</updates>
		</layout>
	</adminhtml>
</config>
