<?xml version="1.0"?>
<config>
    <modules>
      <Sleepz_Frontend>
        <version>0.0.9</version>
      </Sleepz_Frontend>
    </modules>
    <global>
      <blocks>
        <sleepz_frontend>
          <class>Sleepz_Frontend_Block</class>
        </sleepz_frontend>
        <catalog>
          <rewrite>
            <product_view_type_configurable>Sleepz_Frontend_Block_Catalog_Product_View_Type_Configurable</product_view_type_configurable>
          </rewrite>
        </catalog>
      </blocks>
    </global>
</config>
