<?xml version="1.0"?>
<config>
    <modules>
        <XTPayments_XTPayments>
            <version>3.2.0</version>
        </XTPayments_XTPayments>
    </modules>
    <global>
        <sales>
            <quote>
                <item>
                    <product_attributes>
                        <disable_xtpayments/>
                    </product_attributes>
                </item>
            </quote>
        </sales>
        <models>
            <xtpayments>
                <class>XTPayments_XTPayments_Model</class>
                <resourceModel>xtpayments_mysql4</resourceModel>
            </xtpayments>
            <xtpayments_mysql4>
                <class>XTPayments_XTPayments_Model_Mysql4</class>
            </xtpayments_mysql4>
        </models>
        <helpers>
            <xtpayments>
                <class>XTPayments_XTPayments_Helper</class>
            </xtpayments>
        </helpers>
        <resources>
            <xtpayments_setup>
                <setup>
                    <module>XTPayments_XTPayments</module>
                    <class>XTPayments_XTPayments_Model_Mysql4_Setup</class>
                </setup>
                <connection>
                    <use>core_setup</use>
                </connection>
            </xtpayments_setup>
            <xtpayments_write>
                <connection>
                    <use>core_write</use>
                </connection>
            </xtpayments_write>
            <xtpayments_read>
                <connection>
                    <use>core_read</use>
                </connection>
            </xtpayments_read>
        </resources>
        <blocks>
            <xtpayments><class>XTPayments_XTPayments_Block</class></xtpayments>
        </blocks>
    </global>
    <frontend>
        <secure_url>
            <xtpayments_redirect>/xtpayments/redirect/</xtpayments_redirect>
        </secure_url>
        <translate>
            <modules>
                <XTPayments_XTPayments>
                    <files>
                        <default>XTPayments_XTPayments.csv</default>
                    </files>
                </XTPayments_XTPayments>
            </modules>
        </translate>
        <routers>
            <xtpayments>
                <use>standard</use>
                <args>
                    <module>XTPayments_XTPayments</module>
                    <frontName>xtpayments</frontName>
                </args>
            </xtpayments>
        </routers>
        <!--<layout>
            <updates>
                <paypal>
                    <file>xtpayments.xml</file>
                </paypal>
            </updates>
        </layout>-->
    </frontend>

    <adminhtml>
        <translate>
            <modules>
                <XTPayments_XTPayments>
                    <files>
                        <default>XTPayments_XTPayments.csv</default>
                    </files>
                </XTPayments_XTPayments>
            </modules>
        </translate>
		<!--<layout>
            <updates>
                <paypal>
                    <file>xtpayments.xml</file>
                </paypal>
            </updates>
        </layout>-->
    </adminhtml>

    <default>
        <payment>
            <xtpayments>
                <active>1</active>
                <cctypes>AE,VI,MC,DI</cctypes>
                <ppp_payment_url><![CDATA[https://secure.xtpayments.com/ppp/purchase.do]]></ppp_payment_url>
                <ppp_merchant_id>xxx</ppp_merchant_id>
                <ppp_merchant_site_id>xxx</ppp_merchant_site_id>
                <ppp_merchant_secret_key>xxx</ppp_merchant_secret_key>
                <ppp_fake>0</ppp_fake>
                <model>xtpayments/payment</model>
                <order_status>pending</order_status>
                <payment_action>void</payment_action>
                <title>Credit Card (XT Payments)</title>
                <allowspecific>0</allowspecific>
            </xtpayments>
         </payment>
    </default>
</config>
