<?xml version="1.0" encoding="UTF-8"?>
<config>
	<modules>
		<Iways_Configurator>
			<version>0.1.0</version>
		</Iways_Configurator>
	</modules>
	<global>
		<helpers>
			<iways_configurator>
				<class>Iways_Configurator_Helper</class>
			</iways_configurator>
		</helpers>
		
		<blocks>
			<iways_configurator>
				<class>Iways_Configurator_Block</class>
			</iways_configurator>
		</blocks>
		<models>
			<iways_configurator>
				<class>Iways_Configurator_Model</class>
			</iways_configurator>
		</models>
		<resources>
			<iways_configurator_setup>
				<setup>
					<module>Iways_Configurator</module>
					<class>Mage_Eav_Model_Entity_Setup</class>
				</setup>
				<connection>
					<use>core_setup</use>
				</connection>
			</iways_configurator_setup>
			<iways_configurator_write>
				<connection>
					<use>core_write</use>
				</connection>
			</iways_configurator_write>
			<iways_configurator_read>
				<connection>
					<use>core_read</use>
				</connection>
			</iways_configurator_read>
		</resources>
	</global>
	<adminhtml>
        <acl>
            <resources>
                <admin>
                    <children>
                        <system>
                            <children>
                                <config>
                                    <children>
                                        <iways_configurator>
                                            <title>Iways Configurator Modul Section</title>
                                        </iways_configurator>
                                    </children>
                                </config>
                            </children>
                        </system>
                    </children>
                </admin>
            </resources>
        </acl>
    </adminhtml>
    <frontend>
    	<layout>
            <updates>
                <iways_configurator>
                    <file>iways_configurator.xml</file>
                </iways_configurator>
            </updates>
        </layout>
    </frontend>
</config>