<?xml version="1.0"?>
<config>
    <modules>
        <Sleepz_DBSetup>
            <version>1.0.0.22</version>
        </Sleepz_DBSetup>
    </modules>
    <global>
        <models>
            <sleepz_dbsetup>
                <class>Sleepz_DBSetup_Model</class>
                <resourceModel>koawach_dbsetup_resource</resourceModel>
            </sleepz_dbsetup>
            <sleepz_dbsetup_resource>
                <class>Sleepz_DBSetup_Model_Resource</class>
            </sleepz_dbsetup_resource>
        </models>
        <resources>
            <sleepz_dbsetup_setup>
                <setup>
                    <module>Sleepz_DBSetup</module>
                </setup>
            </sleepz_dbsetup_setup>
        </resources>
    </global>
</config>
