/* ==========================================================================
   5.0 Content
   ========================================================================== */

 
/* 5.1 Single Article
   ========================================================================== */


.article-start,
.article-end{
	width:100%; 
	height:1px;
	clear:both;
}
article{
	padding-top:10px;
	padding-bottom:10px;
}

article:first-child{
	padding-top:0;
}
#inner_wrapper article .row{
	margin-bottom:0;
}

article .article-header{
	margin-bottom: 35px;
	padding-bottom: 20px;
	border-bottom: 1px solid #e7e7e7;
}

article .article-header.behind-title,
article .article-header.behind-title-fullwidth{
	padding-bottom:0;
	border-bottom:0;
}
article .article-header.behind-title-fullwidth .featured-background{
	background-size: cover;
	background-position: center 70%;
}

@media #{$small-only} {
	article .article-header.behind-title-fullwidth .featured-background{
		max-height:350px;
	}
}

#inner_wrapper article.article-header-above,
#inner_wrapper article.article-header-above .row:not(.collapse) {
	margin-bottom: 0;
	padding-bottom:0
}


article .article-header .featured-image-behind-title {
	position: relative;
	overflow: hidden;
}
article .article-header .featured-image-behind-title:before,
article .article-header .featured-image-behind-title:after{
	z-index: 1;
}

article .article-header .featured-image-behind-title .th{
	margin-bottom:0;
}
article .article-header .featured-image-behind-title .featured-image-behind-title-wrap {
	position: absolute;
	bottom: 0px;
	width: 100%;
	padding: 20px 0 0;
}
article .article-header .featured-image-behind-title .featured-image-behind-title-wrap h1{
	color: #fff;
	margin-bottom: 0;
	padding: 5% 6%;
	width: 80%;
	z-index: 1;
	position: relative;
	line-height: 1.2;
	font-size: $h1-font-size + rem-calc(10);
}
article .article-header.behind-title-fullwidth .featured-image-behind-title .featured-image-behind-title-wrap h1{
	width: 90%;
	padding: 5% 0;
}
article .article-header .featured-image-behind-title .featured-image-behind-title-wrap h1 a{
	color: #fff;
}

.endless-articles article .article-header .featured-image-behind-title .featured-image-behind-title-wrap h1 {
	font-size: $h2-font-size - $h2-font-reduction + rem-calc(5);
} 

article .article-header .featured-image-behind-title .featured-image-behind-title-wrap .subheader{
	color: #ddd;
	margin-bottom: 10px;	
} 

@media #{$small-only} {

	article .article-header .featured-image-behind-title .featured-image-behind-title-wrap h1{
		width: 100%;
		font-size: $h2-font-size - $h2-font-reduction + rem-calc(5);
	}
	article .article-header.behind-title-fullwidth .featured-image-behind-title .featured-image-behind-title-wrap h1{
		width: 100%;
		padding: 5% 10px;
		font-size: $h2-font-size - $h2-font-reduction + rem-calc(5);
	}
}
@media #{$medium-only} {
	
	article .article-header .featured-image-behind-title .featured-image-behind-title-wrap h1{
		font-size: $h1-font-size - $h1-font-reduction + rem-calc(5);
	}
	article .article-header.behind-title-fullwidth .featured-image-behind-title .featured-image-behind-title-wrap h1{
		font-size: $h1-font-size - $h1-font-reduction + rem-calc(5);
	}	
}

article .post-body h1:not(.widgettitle),
article .post-body h2:not(.widgettitle),
article .post-body h3:not(.widgettitle),
article .post-body h4:not(.widgettitle),
article .post-body h5:not(.widgettitle),
article .post-body h6:not(.widgettitle){
	font-weight: 700;
	margin-bottom:25px;
}
article h3.subheader{
	font-weight: 300;
	margin-top: 0;
}
article h3.subheader.image-behind-title{
	margin-bottom:25px;	
}

article .post-body h1:not(.widgettitle){
	margin-bottom:25px;
}
article .post-body h2:not(.widgettitle){
	margin-bottom:25px;
}
article .post-body h3:not(.widgettitle){
	margin-bottom: 25px;
}

article .post-body h4:not(.widgettitle){
	margin-bottom:20px;
}
article .post-body h5:not(.widgettitle){
	margin-bottom:15px;
}
article .post-body h6:not(.widgettitle){
	margin-bottom:10px;
}

article .th{
	margin-bottom:20px;
}
article .th.crop{
	overflow: hidden;
}

article .author,
article time,
article .time{
	font-size: 16px;
	line-height: 1;
	padding: 15px 0 0 0;
	display: inline-block;
}


article .row > hr{
	margin-top: 30px;
	margin-bottom: 30px;
}
article .row > hr.large{
	margin-top: 45px;
	margin-bottom: 45px;
}
article:first-child .row > hr{
	margin-top: 0;
}


article .post-body p,
article .post-body ul:not(.news-list):not(.orbit-slider), 
article .post-body ol:not(.news-list),
article .post-body dl,
.mce-content-body p,
.mce-content-body ul:not(.news-list):not(.orbit-slider),
.mce-content-body ol:not(.news-list),
.mce-content-body dl {
	font-size: 18px;
	line-height: 1.5;
	margin-bottom:25px;
}

article .post-body ul:not(.news-list):not(.orbit-slider), 
article .post-body ol:not(.news-list),
.mce-content-body ul:not(.news-list),
.mce-content-body ol:not(.news-list){
	margin-#{$default-float}: 2.5rem;
}
article .post-body ul:not(.news-list):not(.orbit-slider) li:not(.post), 
article .post-body ol:not(.news-list) li:not(.post),
.mce-content-body ul:not(.news-list) li:not(.post),
.mce-content-body ol:not(.news-list) li:not(.post){
	padding:4px 0;	
}

article .post-body blockquote p,
.mce-content-body blockquote p{
	margin-bottom:0;
}

article .post-body table,
article .post-body pre,
article .post-body address,
.mce-content-body table,
.mce-content-body pre,
.mce-content-body address{
	margin-bottom:25px;
}

article .post-body pre,
.mce-content-body pre {
	background: $bg-color-light;
	white-space: pre-wrap;
	padding: 20px;
	border: 1px solid $global-border-color;
}


article .article-categories, {
  margin: 30px 0 50px; 
  clear: both;
}

article .article-categories h5 {
  color: $text-color-2;
  margin-bottom: 20px;
}

article .article-categories ul{
  display:block;
  width:100%;
  margin:0;
  overflow:hidden;
}
article .article-categories ul li{
  list-style:none;
  display:inline-block;
  float:$default-float;
  margin-#{$opposite-direction}:10px;
  margin-bottom:10px;

}
article .article-categories ul li a{
  border:1px solid $global-border-color;
  display:block;
  padding:10px;
  text-decoration:none;
  color: $text-color-2; 
  @extend %radius;
}

article .article-categories ul li a:hover{
  color: $text-color-1; 
}


@media #{$small-only} {
	
	article h1:not(.widgettitle) {
		margin-bottom: 20px;
	}
	article .article-header{
		margin-bottom: 20px;
		padding-bottom: 5px;
	}
	
	article h3.subheader{
		line-height: 1.4;
	}
	
	article .author,
	article time,
	article .time{
		font-size: 14px;
	}	
}



/* about Author */

.about-author {
    overflow: hidden;
    background: $bg-color-light; 
    margin-bottom: 50px;
    padding: 25px;
}

a.author-avatar {
	float: $default-float;
	width: 25%;
	margin: 0;
}
.about-author .avatar {
    float: $default-float;
    -webkit-border-radius: 0; 
    -moz-border-radius: 0; 
    -khtml-border-radius: 0; 
    border-radius: 0;
}
.about-author .author-meta {
	float: $default-float;
	display: inline-block;
	width: 75%;
	overflow: hidden;
	padding-#{$default-float}: 25px;
}

.about-author .author-name {
    font-size: 18px;
    font-weight: 700;
    line-height: 27px;
    text-transform: capitalize;
    color: $text-color-1;
}
.about-author p.author-bio {
    font-size: 16px;
    line-height: 24px;
    margin-bottom: 0;
}



@media #{$small-only} {
	a.author-avatar {
	    width:100%;
	}
	.about-author .author-meta {
	    width: 100%;
	    padding:20px 0 0 0;
	    height: auto;
	}
}
@media #{$large-up} {
	.inner_content > .row:not(.has-sidebar) a.author-avatar {
		width: 15%;
	}
	.inner_content > .row:not(.has-sidebar) .about-author .author-meta{
		width:85%;
	}
}	

/* Smart Sidebar */

.smart-sidebar-item .smart-sidebar-divider{
    margin: 20px 0;
    height: 1px;
    background: #eaeaea;
    width: 100%;
}
.smart-sidebar-item .author, 
.smart-sidebar-item time, 
.smart-sidebar-item .time {
    line-height:1.5;
    padding: inherit;
}

.smart-sidebar-item  .meta .stats .stats-wrap span{
	font-size:14px;
	margin-#{$opposite-direction}: 15px;
}
.smart-sidebar-item .meta .stats .stats-wrap span i{
	font-size:18px;
}

.has-sidebar .smart-sidebar-item  .meta .stats .stats-wrap span{
	font-size:12px;
	margin-#{$opposite-direction}: 13px;
}
.has-sidebar .smart-sidebar-item .meta .stats .stats-wrap span i{
	font-size:16px;
}

/* Single Post Nav */

.post-nav {
    padding: 10px;
    background: $bg-color-light;
    position: fixed;
    top: 35%;
    width:300px;
    z-index:100;
    display:none;
    @include opacity(0);
    
	-webkit-transition: -webkit-transform 0.25s, opacity 0.25s ease-in-out;
	-moz-transition: -moz-transform 0.25s, opacity 0.25s ease-in-out;
	transition: transform 0.25s, opacity 0.25s ease-in-out; 

	-webkit-box-shadow: 0px 1px 1px 0px rgba(50, 50, 50, 0.35);
	-moz-box-shadow:    0px 1px 1px 0px rgba(50, 50, 50, 0.35);
	box-shadow:         0px 1px 1px 0px rgba(50, 50, 50, 0.35);	
	  
}


@media only screen and (min-width: 1330px) {

	.post-nav{
		display:block;
	}
	.post-nav.active{
		@include opacity(0.6);
	}

}

body .post-nav.prev {
    left:0; 
	-webkit-transform: translateX(-190px);
	-moz-transform: translateX(-190px);
	transform: translateX(-190px);
		 
}
body .post-nav.next {
    right:0; 
	-webkit-transform: translateX(190px);
	-moz-transform: translateX(190px);
	transform: translateX(190px);
}

body.rtl .post-nav.prev {
    right:0; 
    left:inherit;
	-webkit-transform: translateX(190px);
	-moz-transform: translateX(190px);
	transform: translateX(190px);
		 
}
body.rtl .post-nav.next {
    left:0; 
    right:inherit;
	-webkit-transform: translateX(-190px);
	-moz-transform: translateX(-190px);
	transform: translateX(-190px);
}

.post-nav.prev:hover,
.post-nav.next:hover {
    @include opacity(1); 
    -webkit-transform: translateX(0)!important;
	-moz-transform: translateX(0)!important;
	transform: translateX(0)!important;    
}


.post-nav a{
    color:$text-color-1;
    font-size:16px;
    line-height: 20px;
    text-decoration:none;
    display:inline-block;
    max-height:60px;
    width:100%;
    overflow: hidden;
}

 
.post-nav > a > span{
	display:inline-block;
	overflow: hidden;
	position: relative;
	width:90px;
} 

.post-nav.prev > a > span{ 
	float: #{$opposite-direction};
	margin-#{$default-float}: 10px; 
}	
.post-nav.next > a > span{ 
	float: #{$default-float};
	margin-#{$opposite-direction}: 10px; 
}	
 
.post-nav > a > span > span{
    position:absolute;
    top: 19px;
    #{$default-float}:0;
    width:100%;
    z-index:10;
    text-align:center;
    color:#fff;
    font-size:22px;
    @include opacity(0);
    @extend %transition;
}
.post-nav:hover > a > span > span{
    @include opacity(0.8);
}

.post-nav > a > span > img{ 
	width: 100%;
}	

.post-nav .nav-label {
    position: absolute;
    bottom: -25px;
    color: $text-color-2;
    font-style: italic;
    font-weight: 300;
    @include opacity(0);
    @extend %transition;
    
}

.post-nav.next .nav-label {
    #{$default-float}:0;
}
.post-nav.prev .nav-label {
    #{$opposite-direction}:0;
}

.post-nav:hover .nav-label {
	@include opacity(1);
}

/* 5.2 Endless Articles
   ========================================================================== */

#endless-articles-wrapper > .column{
	@include opacity(0);
	@extend %transition;
}
#endless-articles-wrapper.loaded > .column{
	@include opacity(1);
}
#endless-articles-wrapper.loaded > .wait{
	display:none;
}

.tpl-endless-articles{
	overflow: hidden;
}
.tpl-endless-articles #inner_wrapper{
	padding:0;
}
.tpl-endless-articles .sidebar {
	margin-#{$opposite-direction}: 20px;
	position: fixed;
	top:$topbar-height + $mainmenu-height;
	width: inherit;
	z-index: 1;
	overflow: hidden;
}
.admin-bar-top.tpl-endless-articles .sidebar {
	top:$topbar-height + $mainmenu-height + 32;
}
.tpl-endless-articles .sidebar .tabs{
	padding:20px 20px 0 20px;
}
.tpl-endless-articles .sidebar .tabs dd{
	width:50%;
	text-align: center;
	border:1px solid $global-border-color;
}
.tpl-endless-articles .sidebar .tabs.nb-1 dd{
	width:100%;
}
.tpl-endless-articles .sidebar .tabs.nb-2 dd{
	width:50%;
}
.tpl-endless-articles .sidebar .tabs.nb-3 dd{
	width:33%;
}
.tpl-endless-articles .sidebar .tabs.nb-4 dd{
	width:25%;
}
.tpl-endless-articles .sidebar .tabs dd > a{
	font-size: 12px;
	line-height: 27px;
	text-transform: uppercase;
	margin-#{$opposite-direction}: 0;
	background-color: #fff; 
	@include border-radius(0px);
}
.tpl-endless-articles .sidebar .tabs dd.active > a{
	border:none;
	background-color: $tabs-navigation-bg-color; 
	font-weight: 700;
}
.tpl-endless-articles .sidebar .tabs-content{
	border:none;
	padding:0;
}

.tpl-endless-articles .sidebar .widget.xt_news .news-list.list li{
	padding:0!important;
	margin-bottom:0!important;
	position: relative;
	border-bottom:0!important;
}
.tpl-endless-articles .sidebar .widget.xt_news .news-list.list li a{
	display:block;
	width:100%;
	text-decoration: none;
	color: $text-color-1;
	font-size: 16px;
	line-height: 24px;
	font-weight: normal;
	padding:15px 20px!important;
	margin-bottom:0!important;
	border-bottom:1px solid $global-border-color;
}


.tpl-endless-articles .sidebar .widget.xt_news .news-list.list li.active a,
.tpl-endless-articles .sidebar .widget.xt_news .news-list.list li a:hover{
	background-color: $tabs-navigation-bg-color; 
	font-weight: 700;
	
}
.tpl-endless-articles .sidebar .widget.xt_news .news-list.list li .active-border{
	background-color: $primary-color;
	position:absolute;
	#{$default-float}:0;
	top:0;
	width:5px;
	height:100%;
	border-top:1px solid $primary-color;
	border-bottom:1px solid $primary-color;
	z-index: 5;
	@extend %transition;
	@extend %fade;
} 

.tpl-endless-articles .sidebar .widget.xt_news .news-list.list li.active .active-border,
.tpl-endless-articles .sidebar .widget.xt_news .news-list.list li:hover .active-border{
	@extend %fade_in;
	@extend %boing;
} 

.tpl-endless-articles .sidebar .widget.xt_news .news-list.list li.active .category,
.tpl-endless-articles .sidebar .widget.xt_news .news-list.list li:hover .category{
	color: $primary-color-hover;
}

 
.tpl-endless-articles .sidebar .widget.xt_news .news-list.list li .stats{
    margin:10px 0 0 0;
    padding:0;
}
.tpl-endless-articles .sidebar .widget.xt_news .news-list.list li .stats .stats-wrap {
    padding:0;
}

.tpl-endless-articles .sidebar .widget.xt_news .news-list.list li .stats .stats-wrap span,
.tpl-endless-articles .sidebar .widget.xt_news .news-list.list li .stats .stats-wrap span i{
    font-size:12px;
}
 
 
.tpl-endless-articles .tabs-fullcontent {
	display:none;
}
.tpl-endless-articles .tabs-fullcontent.active {
	display:block;
}


.tpl-endless-articles article:first-child{
	margin-top:20px;
} 
.tpl-endless-articles article:last-child hr:last-child{
	display:none;
}

.tpl-endless-articles footer{
	display:none;
}

.tpl-endless-articles .nicescroll-rails.main-scroll{
	#{$opposite-direction}:0!important;
	#{$default-float}:inherit!important;
}

	
.tpl-endless-articles .nicescroll-rails.sidebar-scroll{
		
	#{$default-float}:inherit!important;
	top:83px!important;
	 #{$opposite-direction}:5px!important;
}

#endless-articles-wrapper article:last-child hr.thin{
	display:none;
}



/* 5.4 Videos
   ========================================================================== */

.single-xt-video h1.above-title {
	
	margin-top: 30px;
	margin-bottom: 0;
	
}



/* 5.5 Photo Albums
   ========================================================================== */

.hover-grid figure{
	background: $primary-color!important;
	@include opacity(0.9);
}

@media #{$small-only} {
	.hover-grid.grid-2 figure,
	.hover-grid.grid-3 figure,
	.hover-grid.grid-4 figure{
		width:100%;
	}
}	



/* 5.6 Pagination
   ========================================================================== */

nav.navigation {
	margin-top: 50px;
	text-align: center;
}
nav.navigation.link_pages{
	margin-bottom:50px;
}
nav.navigation.comment-navigation{
	margin-top:30px;
	margin-bottom:50px;
}

nav.navigation.left,
nav.navigation.right{
	background: $bg-color-light;
}

nav.navigation  .page-numbers,
nav.navigation.link_pages a,
nav.navigation.link_pages .pagination > span {
	
	@extend %transition_all_slow;
	padding: 12px 20px !important;
	color: $text-color-1!important;
	border-#{$opposite-direction}:2px solid $global-border-color;
	display: inline-block;
	font-size: 16px;

}
nav.navigation  .page-numbers.next,
nav.navigation  .page-numbers.prev{
	padding: 12px 15px !important;
}
nav.navigation.left  .page-numbers,
nav.navigation.right  .page-numbers,
nav.navigation.link_pages.left a,
nav.navigation.link_pages.right a,
nav.navigation.link_pages.left .pagination > span,
nav.navigation.link_pages.right .pagination > span{
	display: block;
	float: $default-float;
}

nav.navigation.center .page-numbers,
nav.navigation.link_pages.center a,
nav.navigation.link_pages.center .pagination > span{
	display: inline-block;
	float: none;
	background: $bg-color-light;
	margin-#{$default-float}: -2px;
	margin-#{$opposite-direction}: -2px;
}

nav.navigation .page-numbers:first-child,
nav.navigation.link_pages a:first-child,
nav.navigation.link_pages .pagination > span:first-child{
	@extend %l-radius;
}
nav.navigation .page-numbers:last-child,
nav.navigation.link_pages a:last-child,
nav.navigation.link_pages .pagination > span:last-child{
	border-#{$opposite-direction}:0;
	@extend %r-radius;
}

nav.navigation .page-numbers.current,
nav.navigation.link_pages .pagination > span{
	background: $primary-color;
	color: #fff!important;;
}
nav.navigation .page-numbers:hover,
nav.navigation.link_pages a:hover{
	color:#fff!important;;
	background-color: $primary-color-hover;
	text-decoration: none;
}
nav.navigation .page-numbers .fa,
nav.navigation.link_pages a .fa{
	font-size: 20px;
	margin: 0 5px;
	line-height: 13px;
}

.ajax-load + .wait.paginate_scroll{
	@include opacity(1);
	@extend %transition;
}
.ajax-loaded + .wait.paginate_scroll{
	@include opacity(0);
	@extend %transition;
}

.ajax-load + .wait.paginate_more{
	display:block;
}
.ajax-loaded + .wait.paginate_more{
	display:none;
}

.ajax-load + .wait + .navigation {
	display:none;
}
.ajax-loaded + .wait + .navigation  {
	display:block;
}

a.button-more.paginate_scroll{
	display:none!important;
}


a.button-more {
   padding: 18px 100px;
   background: $bg-color-light;
   @extend %radius;
   font-size:18px;
   color: $text-color-1;
   overflow: hidden;
   display: inline-block;
   min-width: 325px;
}

a.button-more:hover{
    text-decoration:none;
    background: $text-color-1;
    color:#fff;
}
a.button-more:before{
    @extend %fa;
    content: '\f107';
    margin-#{$opposite-direction}:10px;
}

@media #{$small-only} {

	a.button-more{
		min-width:inherit;
	}

}




/* 5.7 Sliders / Carousels / Galleries
   ========================================================================== */

/* 5.7.0 Native Wordpress Gallery */


.xt_gallery.native{
	@include opacity(0);
}
.gallery {
	overflow: hidden;
	margin-#{$default-float}: -5px;
	margin-#{$opposite-direction}: -5px;
}

.gallery-item {
	float: $default-float;
	margin: 0;
	overflow: hidden;
	position: relative;
	@include transition(width,0.5s, ease-in-out);
}

.gallery-item .gallery-icon{
	width: 100%;
	height: 100%;
	overflow: hidden;
	display:block;
	margin: 0 5px 5px;
}

.gallery-item .gallery-thumb-bg{
	background-position: center center;
	background-repeat: no-repeat;
	background-size: cover;
	overflow: hidden;
	display: block;
	width: 100%;
	height: 100%;
	position: relative;
	min-height:200px;
	
}
.gallery-item a.gallery-thumb-bg{
	margin-bottom:0;
}

.gallery-columns-1 .gallery-item {
	width: 100%;
}

.gallery-columns-2 .gallery-item {
	width: 50%;
}

.gallery-columns-3 .gallery-item {
	width: 33.33%;
}

.gallery-columns-4 .gallery-item {
	width: 25%;
}

.gallery-columns-5 .gallery-item {
	width: 20%;
}

.gallery-columns-6 .gallery-item {
	width: 16.6%;
}

.gallery-columns-7 .gallery-item {
	width: 14.285%;
}

.gallery-columns-8 .gallery-item {
	width: 12.5%;
}

.gallery-columns-9 .gallery-item {
	width: 11.11%;
}

.gallery-columns-1 .gallery-item:nth-of-type(1n),
.gallery-columns-2 .gallery-item:nth-of-type(2n),
.gallery-columns-3 .gallery-item:nth-of-type(3n),
.gallery-columns-4 .gallery-item:nth-of-type(4n),
.gallery-columns-5 .gallery-item:nth-of-type(5n),
.gallery-columns-6 .gallery-item:nth-of-type(6n),
.gallery-columns-7 .gallery-item:nth-of-type(7n),
.gallery-columns-8 .gallery-item:nth-of-type(8n),
.gallery-columns-9 .gallery-item:nth-of-type(9n) {
	margin-#{$opposite-direction}: 0;
}



@media #{$small-only} {

	[class*='gallery-columns-'] .gallery-item {
		width:50%;
	}

}
@media #{$xsmall-only} {

	[class*='gallery-columns-'] .gallery-item {
		width:100%;
	}

}

.gallery-columns-1.gallery-size-medium figure.gallery-item:nth-of-type(1n+1),
.gallery-columns-1.gallery-size-thumbnail figure.gallery-item:nth-of-type(1n+1),
.gallery-columns-2.gallery-size-thumbnail figure.gallery-item:nth-of-type(2n+1),
.gallery-columns-3.gallery-size-thumbnail figure.gallery-item:nth-of-type(3n+1) {
	clear: left;
}

.gallery-caption {
	background-color: rgba(0, 0, 0, 0.7);
	-webkit-box-sizing: border-box;
	-moz-box-sizing:    border-box;
	box-sizing:         border-box;
	color: #fff;
	font-size: 12px;
	line-height: 1.5;
	margin: 0;
	max-height: 50%;
	opacity: 0;
	padding: 6px 8px;
	position: absolute;
	bottom: 0;
	#{$default-float}: 0;
	text-align: left;
	width: 100%;
}

.gallery-caption:before {
	content: "";
	height: 100%;
	min-height: 49px;
	position: absolute;
	top: 0;
	#{$default-float}: 0;
	width: 100%;
}

.gallery-item:hover .gallery-caption {
	opacity: 1;
}

.gallery-columns-7 .gallery-caption,
.gallery-columns-8 .gallery-caption,
.gallery-columns-9 .gallery-caption {
	display: none;
}




/*  5.7.1 Orbit Slider  */

.orbit-wrap {
	position: relative;
}
.orbit-wrap .wait{
	position:absolute;
	z-index: 100;
	margin:0;
	#{$default-float}: 50%;
	top:50%;
	margin-#{$default-float}: -25px;
	margin-top:-25px;
}
.orbit-slider{
	height: 100%;
	width: 100%; 
	overflow: hidden;
	@extend %transition;
	@include opacity(0);
}
.orbit-wrap.loaded .wait{
	@include opacity(0);
}
.orbit-wrap.loaded .orbit-slider{
	@include opacity(1);
}
.orbit-container .orbit-slides-container > li
{
  	overflow: hidden;
}
.orbit-container .orbit-slides-container > li > .bg{
	width:100%;
	height:100%;
	background-size: cover;
  	background-position: center center;
  	background-repeat: no-repeat;
}
.orbit-container .orbit-slides-container li .orbit-caption{
	background: transparent;
	@include opacity(0);
	@extend %transition;
}

.orbit-container .orbit-slides-container li .orbit-caption a{
	color: #fff;
	font-weight:700;
	position: relative;
	z-index: 1;

	@extend %transition;
}
.orbit-container .orbit-slides-container li .orbit-caption a:hover{
	color: $primary-color;
	text-decoration: none;
}

.orbit-container .orbit-slides-container li.active .orbit-caption{
	@include opacity(1);
}	
.orbit-container .orbit-slides-container li.animate-out .orbit-caption{
	@include opacity(0);
}

.orbit-container .orbit-slides-container li.animate-out{
	@include opacity(0.8);
}	
.orbit-container .orbit-slides-container li.active,
.orbit-container .orbit-slides-container li.animate-in{
	@include opacity(1);
}

.orbit-container .orbit-prev, 
.orbit-container .orbit-next{
	@extend %round;
	@extend %transition_all_slow;
	@include opacity(0);
			
	width:60px;
	height:60px;
	border: 4px solid #fff;
	margin:0 20px;
	text-indent:inherit!important;
	top:50%;
	margin-top:-30px;
}


.orbit-container .orbit-prev{
	-webkit-animation: orbit-controls-prev-out .4s .0s 1 both ease-in-out;
	 #{$opposite-direction}:inherit;
}
.orbit-container .orbit-next{
	-webkit-animation: orbit-controls-next-out .4s .0s 1 both ease-in-out;
	#{$default-float}:inherit;

}
.orbit-container:hover .orbit-prev{
	-webkit-animation: orbit-controls-prev-in .4s .0s 1 both ease-in-out;
}
.orbit-container:hover .orbit-next{
	-webkit-animation: orbit-controls-next-in .4s .0s 1 both ease-in-out;
}

@-webkit-keyframes orbit-controls-prev-out {
	0%{
    	#{$default-float}:0;
		-webkit-transform: rotate(0);
		@include opacity(0.8);
	}
	100%{
    	#{$default-float}:-80px;
		-webkit-transform: rotate(-180deg);
		@include opacity(0);
	}
}
@-webkit-keyframes orbit-controls-next-out {
	0%{
    	 #{$opposite-direction}:0;
		-webkit-transform: rotate(0);
		@include opacity(0.8);
	}
	100%{
    	 #{$opposite-direction}:-80px;
		-webkit-transform: rotate(180deg);
		@include opacity(0);
	}
}
@-webkit-keyframes orbit-controls-prev-in {
	0%{
    	#{$default-float}:-80px;
		-webkit-transform: rotate(-180deg);
		@include opacity(0);
	}
	100%{
    	#{$default-float}:0;
		-webkit-transform: rotate(0);
		@include opacity(0.8);
	}
}
@-webkit-keyframes orbit-controls-next-in {
	0%{
    	 #{$opposite-direction}:-80px;
		-webkit-transform: rotate(180deg);
		@include opacity(0);
	}
	100%{
    	 #{$opposite-direction}:0;
		-webkit-transform: rotate(0);
		@include opacity(0.8);
	}
}



.orbit-container .orbit-prev:hover, 
.orbit-container .orbit-next:hover{
	border: 4px solid $primary-color;
}

.orbit-container .orbit-prev>span, 
.orbit-container .orbit-next>span{
	display:none;
}
.orbit-container .orbit-prev:after, 
.orbit-container .orbit-next:after{
	@extend %fa;
	position:absolute;
	width:100%;
	height:100%;
	top: 11%;
	#{$default-float}:0;
	font-size: 42px;
	text-align: center;
	@extend %transition_all_slow;
}
.orbit-container .orbit-prev:after{
	content: "\f104";
	margin-#{$default-float}: -2px;
}
.orbit-container .orbit-next:after{
	content: "\f105";
	margin-#{$default-float}: 2px;
}
body.rtl .orbit-container .orbit-prev:after{
	content: "\f105";
}
body.rtl .orbit-container .orbit-next:after{
	content: "\f104";
}

.orbit-container .orbit-prev:hover:after, 
.orbit-container .orbit-next:hover:after{
	color: $primary-color;
}

@media #{$small-up} {

	.orbit-container .orbit-slides-container > li{
  		height: 360px;
  	}
	.orbit-container .orbit-slides-container li .orbit-caption{
		width:100%!important;
		font-size: 22px;
		line-height: 1.2;
		padding:rem-calc(25);
	}
	
}

@media #{$large-up} {

	.orbit-container .orbit-slides-container li .orbit-caption{
		font-size: 45px;	
	}
}




/*  5.7.2 Revolution Slider  */

.rev_slider_wrapper{
	z-index: 0;
}
.rev_slider_wrapper .tparrows{
	
	width:60px;
	height:60px;
	border: 4px solid #fff;
	@include opacity(0);
	margin:0 20px;
	text-indent:inherit!important;
	background: none;
	color:#fff;
	z-index: 20;
	top: 50%!important;
	@extend %round;
	@extend %transition_all_slow;
	
}
body.rtl .rev_slider_wrapper .tparrows.tp-rightarrow {
  	right: inherit!important;
}

.rev_slider_wrapper .tparrows:hover{
	border: 4px solid $primary-color;
}


.rev_slider_wrapper .tparrows:after{
	@extend %fa;
	position:absolute;
	width:100%;
	height:100%;
	top: 11%;
	#{$default-float}:0;
	font-size: 42px;
	text-align: center;
	@extend %transition_all_slow;
}

.rev_slider_wrapper .tparrows.tp-leftarrow:after{
	content: "\f104";
	margin-#{$default-float}: -2px;
}
.rev_slider_wrapper .tparrows.tp-rightarrow:after{
	content: "\f105";
	margin-#{$default-float}: 2px;
}

body.rtl .rev_slider_wrapper .tparrows.tp-leftarrow:after{
	content: "\f105";
}
body.rtl .rev_slider_wrapper .tparrows.tp-rightarrow:after{
	content: "\f104";
}


.rev_slider_wrapper .tparrows:hover:after{
	color: $primary-color;
}


.rev_slider_wrapper .tparrows.tp-leftarrow{
	-webkit-animation: orbit-controls-prev-out .4s .0s 1 both ease-in-out;
}
.rev_slider_wrapper .tparrows.tp-rightarrow{
	-webkit-animation: orbit-controls-next-out .4s .0s 1 both ease-in-out;
}
.rev_slider_wrapper:hover .tparrows.tp-leftarrow{
	-webkit-animation: orbit-controls-prev-in .4s .0s 1 both ease-in-out;
}
.rev_slider_wrapper:hover .tparrows.tp-rightarrow{
	-webkit-animation: orbit-controls-next-in .4s .0s 1 both ease-in-out;
}

.tp-bullets.simplebullets{
	bottom:-35px!important;
}
.tp-bullets.simplebullets.round .bullet {
    background: $global-border-color;
    width: 12px;
    height: 12px;
    margin-#{$default-float}: 5px;
    margin-#{$opposite-direction}: 5px;
    @extend %round;
}

.tp-bullets.simplebullets.round .bullet:hover, 
.tp-bullets.simplebullets.round .bullet.selected, 
.tp-bullets.simplebullets.navbar .bullet:hover, 
.tp-bullets.simplebullets.navbar .bullet.selected {
    background: $text-color-1;
}



/* Dynamic Styles */
.rev_slider_wrapper .goodnews_post_title_with_excerpt{
	background-color: rgba(0,0,0, 0.8)!important;
	font-size: 36px;
	line-height: 44px;
	font-weight: 700;
	font-family:inherit!important;
	text-decoration: none;
	padding: 30px 30px 30px 30px;
	width: 66%;
	border-width: 0px;
	border-color: #ffffff;
	border-style: none;
}
.rev_slider_wrapper .goodnews_post_title_with_excerpt > div{
    font-size:24px;
    font-weight:300;
    line-height:30px;
    color: $text-color-2;
    
}

.rev_slider_wrapper .goodnews_post_title_with_excerpt a {
    color: #fff;
    margin:0 0 20px 0!important;
    display:inline-block;
}
.rev_slider_wrapper .goodnews_post_title_with_excerpt a:hover {
    color: $primary-color;
    text-decoration:none;
}

@media #{$small-only} {
	.rev_slider_wrapper .goodnews_post_title_with_excerpt>div{
		display:none;
	}
	.rev_slider_wrapper .goodnews_post_title_with_excerpt a {
		margin:0!important;
	}
	.rev_slider_wrapper .tparrows{
		display:none;	
	}	
}




.rev_slider_wrapper .goodnews_post_title{
	background-color: rgba(0,0,0, 0.8)!important;
	font-family:inherit!important;
	text-decoration: none;
	padding: 30px 30px 30px 30px;
	width: 66%;
	border-width: 0px;
	border-color: #ffffff;
	border-style: none;
}

.rev_slider_wrapper .goodnews_post_title a {
    font-size:24px;
    font-weight:300;
    line-height:30px;
    color: #fff;
}
.rev_slider_wrapper .goodnews_post_title a:hover {
    color: $primary-color;
    text-decoration:none;
}



/*  5.7.3 Stack View  */

.stack .wait{
	position: relative;
	#{$default-float}:0%;
	top:0%;
}
.stack.loaded .wait{
	display: none;
}
.stack .stack_view { 
	-webkit-perspective: 300px; 
	-webkit-perspective-origin-x: 50%; 
	margin: 0 auto; 
	width: 100%; 
	position: relative; 
	@include opacity(0);
	@extend %transition;	
}

.stack.loaded .stack_view{
	@include opacity(1);
	overflow: hidden;
}

.stack .stack_view .stack_wrap { 
	position: relative;
	width: 100%;
	height: 100%;
	@include transition(height, 0.5s, ease-in-out);
}
.stack .stack_view .stack_wrap li { 
	position: absolute; 
	top: -100%; 
	#{$default-float}: 0; 
	width:100%;
	@include transitions(opacity 1.2s ease-in-out +","+ top 0.8s ease-in-out);
	list-style: none;
	@include opacity(0);
}
.stack .stack_view .stack_wrap li.visible{
	@include opacity(1);
	top:0;
}

.stack .stack_view .stack_wrap li .th{
	background-repeat: no-repeat;
	background-position: center center;
	background-size: cover;
	margin-bottom:10px;
}
.stack .controls {
    z-index: 100000000;
    position: absolute;
}
.stack .controls .button{
	display:block;
	margin:0 0 1px 0;
	background-color: $primary-color;
	padding:10px 15px;
	 -webkit-border-radius: 0!important;
	 -moz-border-radius: 0!important;
	 -khtml-border-radius: 0!important;
	 border-radius: 0!important;
	 top:0!important;
}
.stack .controls .button > i{
	margin:0;
}
.stack .controls.tl {
    top:0;    
    #{$default-float}:0;
}
.stack .controls.tr {
    top:0;
    #{$opposite-direction}:0;
}


@media #{$medium-up} {

	.stack .stack_view{
		margin-bottom:20px;
	}

}

	
	
/*  5.7.4 Galleria  */

.galleria-theme-advanced.notouch .galleria-thumbnails .galleria-image:hover,
.galleria-theme-advanced.touch .galleria-thumbnails .galleria-image:active,
.galleria-theme-advanced .galleria-thumbnails .galleria-image.active,
.galleria-theme-classic.notouch .galleria-thumbnails .galleria-image:hover,
.galleria-theme-classic.touch .galleria-thumbnails .galleria-image:active,
.galleria-theme-classic .galleria-thumbnails .galleria-image.active  {
    border: 2px solid $primary-color!important;
}




/* 5.8 404 Page
   ========================================================================== */

body.error404 #inner_wrapper {
	padding: 120px 0px 140px;
}

