/* ==========================================================================
   2.0 General
   ========================================================================== */


html{
	margin-top:0!important;
}
body{
	min-width:300px;
	
	font-family: $body-font-family;
	font-weight: $body-font-weight;
	font-size: $body-font-size;
	line-height: $body-line-height;
	text-align: $body-text-align;
	color: $body-color;
	
}	

/* admin bar */

@media #{$small-up} {

	html.admin-bar-disabled{
		margin-top:0!important;
	}
	html.admin-bar-top{
		margin-top:0!important;
	}
	body.admin-bar.admin-bar-top{
		padding-top:rem-calc($adminbar-mobile-height);
	}

	body.admin-bar.admin-bar-bottom {
		margin-top: rem-calc(-$adminbar-mobile-height);
		padding-bottom: rem-calc(-$adminbar-mobile-height);
	}
	body.admin-bar.admin-bar-bottom #wpadminbar .ab-top-menu>.menupop>.ab-sub-wrapper{
		bottom: rem-calc(-$adminbar-mobile-height);
	}
	body.admin-bar.admin-bar-bottom footer {
		padding-bottom: rem-calc(-$adminbar-mobile-height);
	}
}

@media #{$medium-up} {

	html.admin-bar-top{
		margin-top:0!important;
	}
	body.admin-bar.admin-bar-top{
		padding-top:rem-calc($adminbar-height);
	}
	body.admin-bar.admin-bar-top .top-menu.sticky.fixed{
		top:rem-calc($adminbar-height);
	}
	body.admin-bar.admin-bar-top .main-menu.sticky.fixed{
		top:rem-calc($adminbar-height) + rem-calc($topbar-sticky-height);
	}
	
	body.admin-bar.admin-bar-bottom {
		margin-top: rem-calc(-$adminbar-height);
		padding-bottom: rem-calc($adminbar-height);
	}
	body.admin-bar.admin-bar-bottom #wpadminbar .ab-top-menu>.menupop>.ab-sub-wrapper{
		bottom: rem-calc($adminbar-height);
	}
	body.admin-bar.admin-bar-bottom footer {
		padding-bottom: rem-calc($adminbar-height);
	}
}

body.admin-bar.admin-bar-bottom #wphead {
	padding-top: 0;
}

body.admin-bar.admin-bar-bottom #wpadminbar {
	top: auto !important;
	bottom: 0;
	position: fixed;
}

body.admin-bar.admin-bar-bottom #wpadminbar>#wp-toolbar>#wp-admin-bar-top-secondary>#wp-admin-bar-search #adminbarsearch input.adminbar-input{
	height:rem-calc($adminbar-height)-1;
}



.no-touch body.nice-scroll-enabled{
	overflow: hidden;		
}
   
.nicescroll-rails{
	z-index: 10000!important;
}   
.nicescroll-rails > div{
	background-color: rgba(0,0,0, 0.5)!important; 
	width:7px!important;
}


.left   { float: $default-float !important; }
.right  { float: $opposite-direction !important; }
   
   
/* 2.0 Typography
	========================================================================== */
 
h1,
.panel h1{
	

	font-family: $h1-font-family;
	font-weight: $h1-font-weight;
	font-size: $h1-font-size;
	line-height: $h1-line-height;
	text-align: $h1-text-align;
	color: $h1-color;
	margin-bottom:15px;	

} 

h2,
.panel h2{
	
	font-family: $h2-font-family;
	font-weight: $h2-font-weight;
	font-size: $h2-font-size;
	line-height: $h2-line-height;
	text-align: $h2-text-align;
	color: $h2-color;
}
.sidebar.widget-area .widget h2.widgettitle,
.panel h2.widgettitle{
	margin-bottom:18px;
	font-size: $h3-font-size;
	font-weight: 300;	
	color: $primary-color;
	line-height: 1;
}

h3,
.panel h3,
.sidebar.widget-area .widget h3,
.widget[id*='monster-widget'] h2,
h2.widgettitle{
	
	font-family: $h3-font-family;
	font-weight: $h3-font-weight;
	font-size: $h3-font-size;
	line-height: $h3-line-height;
	text-align: $h3-text-align;
	color: $h3-color;
	
	&.bold{
		line-height: $h3-line-height + rem-calc(3);
	} 
	&.widgettitle{
		margin-bottom:18px;
		line-height: 1;
	}
} 


h4,
.panel h4{

	font-family: $h4-font-family;
	font-weight: $h4-font-weight;
	font-size: $h4-font-size;
	line-height: $h4-line-height;
	text-align: $h4-text-align;
	color: $h4-color;
	
	&.spaced{
		line-height: $h4-line-height + rem-calc(3);
	}  

}  



h5,
.panel h5{
	
	font-family: $h5-font-family;
	font-weight: $h5-font-weight;
	font-size: $h5-font-size;
	line-height: $h5-line-height;
	text-align: $h5-text-align;
	color: $h5-color;
	
	
	&.bold{
		font-weight: 700;
	} 
}

.sidebar.widget-area .widget h5{
	line-height: 1.2;
}

h6,
.panel h6{

	font-family: $h6-font-family;
	font-weight: $h6-font-weight;
	font-size: $h6-font-size;
	line-height: $h6-line-height;
	text-align: $h6-text-align;
	color: $h6-color;
	
	@include opacity(0.9);
}

p{
	margin-bottom: 35px;

	&.medium{
		font-size: 16px;
		line-height: 24px;
	}	
	&.large{
		font-size: 18px;
		line-height: 27px;
	}
}


form p{
	margin-bottom: 15px;
}

a{
	@extend %transition;
	outline:none;
	&:hover{
		text-decoration: $anchor-text-decoration-hover;
	}	
}

h1 a, h2 a, h3 a, h4 a, h5 a, h6 a {
	color: $text-color-1;
}
h1 a:hover, h2 a:hover, h3 a:hover, h4 a:hover, h5 a:hover, h6 a:hover {
	text-decoration: none;
}

 

@media #{$small-only} {
	h1,.panel h1 { font-size: $h1-font-size - $h1-font-reduction; line-height:1.2}
    h2,.panel h2 { font-size: $h2-font-size - $h2-font-reduction; line-height:1.2}
    h3,.panel h3 { font-size: $h3-font-size - $h3-font-reduction; line-height:1.2}
    h4,.panel h4 { font-size: $h4-font-size - $h4-font-reduction; line-height:1.4}
    h5,.panel h5 { font-size: $h5-font-size - $h5-font-reduction; line-height:1.4}
    h6,.panel h6 { font-size: $h6-font-size - $h6-font-reduction; line-height:1.4}		
}

  

   
/* 2.1 Helper Classes
   ========================================================================== */

/* Clearing floats */
.clear {
	clear: both;
}

.opacityzero{
	@include opacity(0);
}
.clearfix,
.clear:after,
.atoll:after,
.island:after,
.islet:after,
.widget:after,
.widget-area:after,
.textwidget:after,
.panel__heading:after,
.panel__body:after,
.panel:after,
.content__wrapper:after,

.section:after,
.marquee .text-box:after,
.entry:after,
nav:after
{
	content: "";
	display: table;
	clear:   both;
}
.fixed{
	z-index:999;
}
.bold{
	font-weight: 700!important;
} 

.hentry{
	-ms-word-wrap: break-word;
	word-wrap: break-word;
}

#wp-admin-bar-site-name a {
	max-width:     100px;
	overflow:      hidden;
	white-space:   nowrap;
	text-overflow: ellipsis;
}


ins{
	text-decoration:none;
}

address {
	line-height: 30px;
	font-weight: 300;
	font-style: normal;
	color: $text-color-2;
	font-size: 18px;
}

blockquote {
	margin-bottom:25px;
	@extend %transition_all_slow;
}
blockquote p{
	margin-bottom:0;
}

blockquote:hover{
	border-#{$default-float}: 8px solid $primary-color;
	background: $bg-color-light;
	color: $text-color-1;
	cursor: default;
}
blockquote:hover p{
	color: $text-color-1;
}

/* Assistive text */
.screen-reader-text {
	clip: rect(1px, 1px, 1px, 1px);
	position: absolute !important;
}

.screen-reader-text:focus {
	background-color: #f1f1f1;
	box-shadow: 0 0 2px 2px rgba(0, 0, 0, 0.6);
	clip: auto !important;
	color: #21759b;
	display: block;
	font-size: $base-font-size;
	font-weight: bold;
	height: auto;
	line-height: normal;
	padding: 15px 23px 14px;
	position: absolute;
	#{$default-float}: 5px;
	top: 5px;
	text-decoration: none;
	width: auto;
	z-index: 100000; /* Above WP toolbar */
	@extend %radius;
}


.box-grey {
	padding: 20px;
	background: $bg-color-light;
	margin-bottom:20px;
	@extend %radius;
	border:0!important;
}
.woocommerce #inner_wrapper h2,
.box-grey h2 {
	font-size: 22px;
	line-height: 28px;
	margin-bottom:20px;
	text-align: left;
}
.woocommerce h3,
.box-grey h3 {
	font-size: 16px;
	line-height: 18px;
	margin-bottom:15px;
	font-weight: 600;
	text-align: left;
}

.box-white {
	padding: 20px;
	border: 1px solid $global-border-color;
	margin-bottom:20px;
	@extend %radius;
}

.box-white h2 {
	font-size: 22px;
	line-height: 28px;
	margin-bottom:20px;
	text-align: left;
}

.box-white h3 {
	font-size: 16px;
	line-height: 18px;
	margin-bottom:15px;
	font-weight: 600;
	text-align: left;
}


/* Image gradient */

.gradient-wrap:after {

	background: -moz-linear-gradient(top, rgba(0, 0, 0, 0) 0%, rgba(0, 0, 0, 1) 100%);
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0%, rgba(0, 0, 0, 0)), color-stop(100%, rgba(0, 0, 0, 1)));
	background: -webkit-linear-gradient(top, rgba(0, 0, 0, 0) 0%, rgba(0, 0, 0, 1) 100%);
	background: -o-linear-gradient(top, rgba(0, 0, 0, 0) 0%, rgba(0, 0, 0, 1) 100%);
	background: -ms-linear-gradient(top, rgba(0, 0, 0, 0) 0%, rgba(0, 0, 0, 1) 100%);
	background: linear-gradient(to bottom, rgba(0, 0, 0, 0) 0%, rgba(0, 0, 0, 1) 100%);
	filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#00000000', endColorstr='#b3000000', GradientType=0);
	z-index: 0;
	bottom: 0;
	content: "";
	height: 100%;
	width: 100%;
	display: block;
	position: absolute;
	#{$default-float}:0;

}



/* Thumbnails */

.th{
	position: relative;
	width:100%;
	margin-bottom:10px;
	@include opacity(1);
	@extend %transition;	
}
.th > img{
	width:100%;
	height:auto;
	-webkit-transition-duration: .45s;
	transition-duration: .45s;	
}


.th:hover{
	@include opacity(0.8);
}

.th .icon-overlay {
  position: absolute;
  top: 0;
  #{$default-float}: 0;
  width: 100%;
  height: 100%;
  text-align: center;   
}

.th .icon-overlay .fa{
    color: #fff;
    position:relative;
    top:50%;
    margin-top: -30px;
	font-size: 60px;
    @include opacity(0.7); 
    @extend %transition_all_slow;
}

.attachment-th-small + .icon-overlay  .fa,
.posts-list-small-thumbs .th .icon-overlay .fa,
.category_submenu_post .th .icon-overlay .fa{
    margin-top: -15px;
	font-size: 30px;	
}

.no-touch .th:hover .icon-overlay .fa{
	@include opacity(0.9);
	
}

/* Thumbs Hover Effect */
.no-touch a.th {
  position: relative;
  -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
  overflow: hidden;
}


.no-touch a.th.zoom:after{
  content: '';
  position: absolute;
  border: 0;
  top: 0;
  #{$opposite-direction}: 0;
  bottom: 0;
  #{$default-float}: 0;
  -webkit-transition-duration: .45s;
  transition-duration: .45s;
  -webkit-transition-property: top, right, bottom, left;
  transition-property: top, right, bottom, left;   
}


.no-touch a.th.zoom:hover:after {
  top: 15%;
  #{$opposite-direction}: 10%;
  bottom: 15%;
  #{$default-float}: 10%;
  border: 1px solid rgba(255,255,255,0.3);
 
}

.no-touch a.th.zoom:hover img {
	-webkit-transform: scale(1.3) rotate(5deg);
	-ms-transform: scale(1.3) rotate(5deg);
	transform: scale(1.3) rotate(5deg);	
}

.no-touch .stack_wrap .th.zoom:after{
	content:none;
}

.no-touch a.th .th-border,
.cssanimations a.th .th-border {
  position: absolute;
  z-index: 20;
  border: 1px solid $primary-color;
  @extend %transition_all_slow;

  @include opacity(0);  
}


.no-touch a.th .border-tb,
.no-touch a.th .border-tr,
.cssanimations a.th .border-tb,
.cssanimations a.th .border-tr {
  width: 0;
  height: 0;
  #{$default-float}: 0;
  top: 0;
}

.no-touch a.th .border-bt,
.no-touch a.th .border-bl,
.cssanimations a.th .border-bt,
.cssanimations a.th .border-bl {
  height: 0;
  width: 0;
  bottom: 0;
  #{$opposite-direction}: 0;
}

.no-touch a.th:hover .border-tb,
.cssanimations a.th:hover .border-tb{
	-webkit-animation: border-tb .7s .1s 1 both ease-in-out;
}
.no-touch a.th:hover .border-bt,
.cssanimations a.th:hover .border-bt {
	-webkit-animation: border-bt .7s .1s 1 both ease-in-out;
}

.no-touch a.th:hover .border-tr,
.ncssanimations a.th:hover .border-tr{
	-webkit-animation: border-tr .7s .1s 1 both ease-in-out;
}
.no-touch a.th:hover .border-bl,
.cssanimations a.th:hover .border-bl {
	-webkit-animation: border-bl .7s .1s 1 both ease-in-out;
}


@-webkit-keyframes border-tb {
	0%{
    	height:0;
    	width:2px;
    	@include opacity(0);
	}
	30%{
    	height:100%;
    	width:2px;
    	@include opacity(1);
	}	
	100%{
    	height:100%;
    	width:2px;
    	@include opacity(1);
    	top:100%;
    	
	}
}

@-webkit-keyframes border-bt {
	0%{
    	height:0;
    	width:2px;
    	@include opacity(0);
	}
	30%{
    	height:100%;
    	width:2px;
    	@include opacity(1);
	}
	100%{
    	height:100%;
    	width:2px;
    	@include opacity(1);
    	top:-100%;
	}
}


@-webkit-keyframes border-tr {
	0%{
    	width:0;
    	height:2px;
    	@include opacity(0);
	}
	50%{
    	width:100%;
    	height:2px;
    	@include opacity(1);
	}
	100%{
    	width:100%;
    	height:2px;
    	@include opacity(1);
    	#{$default-float}:100%;
	}
}
@-webkit-keyframes border-bl {
	0%{
    	width:0;
    	height:2px;
    	@include opacity(0);
	}
	50%{
    	width:100%;
    	height:2px;
    	@include opacity(1);
	}
	100%{
    	width:100%;
    	height:2px;
    	@include opacity(1);
    	#{$default-float}:-100%;
	}
}


/* thumb filters */

.no-touch a.th img.filter-grayscale,{
	@extend %grayscale;
}
.no-touch a.th:hover img.filter-grayscale{
	@extend %grayscale-reset;
}
.no-touch a.th:hover img.filter-grayscale-hover{
	@extend %grayscale;
}



.no-touch a.th img.filter-blur{
	@extend %blur;
}
.no-touch a.th:hover img.filter-blur{
	@extend %blur-reset;
}
.no-touch a.th:hover img.filter-blur-hover{
	@extend %blur;
}


.no-touch a.th img.filter-saturate{
	@extend %saturate;
}
.no-touch a.th:hover img.filter-saturate{
	@extend %saturate-reset;
}
.no-touch a.th:hover img.filter-saturate-hover{
	@extend %saturate;
}


.no-touch a.th img.filter-sepia{
	@extend %sepia;
}
.no-touch a.th:hover img.filter-sepia{
	@extend %sepia-reset;
}
.no-touch a.th:hover img.filter-sepia-hover{
	@extend %sepia;
}


.no-touch a.th img.filter-hue-rotate{
	@extend %hue-rotate;
}
.no-touch a.th:hover img.filter-hue-rotate{
	@extend %hue-rotate-reset;
}
.no-touch a.th:hover img.filter-hue-rotate-hover{
	@extend %hue-rotate;
}


.no-touch a.th img.filter-invert{
	@extend %invert;
}
.no-touch a.th:hover img.filter-invert{
	@extend %invert-reset;
}
.no-touch a.th:hover img.filter-invert-hover{
	@extend %invert;
}


.no-touch a.th img.filter-brightness{
	@extend %brightness;
}
.no-touch a.th:hover img.filter-brightness{
	@extend %brightness-reset;
}
.no-touch a.th:hover img.filter-brightness-hover{
	@extend %brightness;
}



.no-touch a.th img.filter-contrast{
	@extend %contrast;
}
.no-touch a.th:hover img.filter-contrast{
	@extend %contrast-reset;
}
.no-touch a.th:hover img.filter-contrast-hover{
	@extend %contrast;
}


/* End thumb filters */

div.gallery-icon,
.prettyphoto{
	@extend .th;
}
div.gallery-icon .th,
.prettyphoto .th{
	margin-bottom:0;
}

img.attachment-medium,
img.attachment-large{
	width:100%;
}

.f-dropdown{
	border:1px solid $global-border-color;
}

.f-dropdown.drop-#{$default-float}{
	#{$default-float}:inherit;
	width:105%;
}
.f-dropdown.drop-#{$opposite-direction}{
	#{$opposite-direction}:inherit;
	width:105%;
}

.f-dropdown.drop-#{$default-float}:before, 
.f-dropdown.drop-#{$opposite-direction}:after,
.f-dropdown.drop-#{$default-float}:before, 
.f-dropdown.drop-#{$opposite-direction}:after {
	content: "";
	display: block;
	width: 0;
	height: 0;
    position: absolute;	
}

.f-dropdown.drop-#{$opposite-direction}:before {
	border: inset 10px;
	border-color: transparent white transparent transparent;
	border-right-style: solid;
	top: 36px;
	#{$default-float}: -20px;
	z-index: 89;
}

.f-dropdown.drop-#{$opposite-direction}:after {
	border: inset 11px;
	border-color: transparent $global-border-color transparent transparent;
	border-right-style: solid;
	top: 35px;
	#{$default-float}: -22px;
	z-index: 88;
}



.f-dropdown.drop-#{$default-float}:before {
	border: inset 10px;
    border-color: transparent transparent transparent white;
    border-left-style: solid;
	top: 36px;
	#{$opposite-direction}: -20px;
    #{$default-float}: auto;
    z-index: 89; 
}
.f-dropdown.drop-#{$default-float}:after {
	border: inset 11px;
    border-color: transparent transparent transparent $global-border-color;
    border-left-style: solid;
	top: 35px;
	#{$opposite-direction}: -22px;
    #{$default-float}: auto;
    z-index: 88; 
}





body.rtl .off-canvas-menu {
	
	.f-dropdown.drop-left{
		right:inherit;
	}
	.f-dropdown.drop-right{
		left:inherit;
	}
	
	.f-dropdown.drop-right:before {
		border-color: transparent transparent transparent white;
		right: -20px;
		left:inherit;
	}
	
	.f-dropdown.drop-right:after {
		border-color: transparent transparent transparent $global-border-color;
		right: -22px;
		left: inherit;
	}

	.f-dropdown.drop-left:before {
	    border-color: transparent white transparent transparent;
		left: -20px;
	    right: auto;
	}
	.f-dropdown.drop-left:after {
	    border-color: transparent $global-border-color transparent transparent;
		left: -22px;
	    right: auto;
	}
}




.large-text,
.large-text p{
	font-size:18px!important;
	line-height: 26px!important;
}




/* 2.2 Component Animations
   ========================================================================== */



.loader {
    text-align: center;    

	span {
	    display: inline-block;
	    vertical-align: middle;
	    width: 12px;
	    height: 12px;
	    margin: auto 3px;
	    background: white;
	    border-radius: 50px;
	    -webkit-animation: loader 0.9s infinite alternate;
	    -moz-animation: loader 0.9s infinite alternate;
	}
	&.dark span{
		 background: black;
	}
	
	span:nth-of-type(2) {
	    -webkit-animation-delay: 0.3s;
	    -moz-animation-delay: 0.3s;
	}
	span:nth-of-type(3) {
	    -webkit-animation-delay: 0.6s;
	    -moz-animation-delay: 0.6s;
	}

}


@-webkit-keyframes loader {
  0% {
    @include opacity(0.9);
    -webkit-transform: translateY(0);
  }
  100% {
    @include opacity(0.1);
    -webkit-transform: translateY(-5px);
  }
}
@-moz-keyframes loader {
  0% {
    @include opacity(0.9);
    -moz-transform: translateY(0);
  }
  100% {
    @include opacity(0.1);
    -moz-transform: translateY(-5px);
  }
}


.no-touch .animated { 
	-webkit-animation-fill-mode: both;
	-moz-animation-fill-mode: both;
	-ms-animation-fill-mode: both;
	-o-animation-fill-mode: both;
	-webkit-animation-fill-mode: both;
	-webkit-animation-duration: 1s;
	-moz-animation-duration: 1s;
	-ms-animation-duration: 1s;
	-o-animation-duration: 1s;
	animation-duration: 1s;
}



.no-touch .animated-infinite { 
    -webkit-animation-fill-mode: both; 
    animation-fill-mode: both; 
    -webkit-animation-timing-function: ease-in-out; 
    animation-timing-function: ease-in-out; 
    animation-iteration-count:infinite; 
    -webkit-animation-iteration-count:infinite; 
} 

/* pulse */
@-webkit-keyframes pulse { 
    0% { -webkit-transform: scale(1); } 
    50% { -webkit-transform: scale(1.05); } 
    100% { -webkit-transform: scale(1); } 
} 
@keyframes pulse { 
    0% { transform: scale(1); } 
    50% { transform: scale(1.05); } 
    100% { transform: scale(1); } 
} 
.no-touch .pulse { 
    -webkit-animation-name: pulse; 
    animation-name: pulse; 
}


/* shake */
@-webkit-keyframes shake { 
    0%, 100% {-webkit-transform: translateX(0);} 
    10%, 30%, 50%, 70%, 90% {-webkit-transform: translateX(-10px);} 
    20%, 40%, 60%, 80% {-webkit-transform: translateX(10px);} 
} 
@keyframes shake { 
    0%, 100% {transform: translateX(0);} 
    10%, 30%, 50%, 70%, 90% {transform: translateX(-10px);} 
    20%, 40%, 60%, 80% {transform: translateX(10px);} 
} 
.no-touch .shake { 
    -webkit-animation-name: shake; 
    animation-name: shake; 
}



/* jump */
@-webkit-keyframes jump { 
    0%, 100% {-webkit-transform: translateY(0);} 
    10%, 30%, 50%, 70%, 90% {-webkit-transform: translateY(-10px);} 
    20%, 40%, 60%, 80% {-webkit-transform: translateY(10px);} 
} 
@keyframes jump { 
    0%, 100% {transform: translateY(0);} 
    10%, 30%, 50%, 70%, 90% {transform: translateY(-10px);} 
    20%, 40%, 60%, 80% {transform: translateY(10px);} 
} 
.no-touch .jump { 
    -webkit-animation-name: jump; 
    animation-name: jump; 
}


@-webkit-keyframes spin {
  0% {
    -webkit-transform: rotate(0deg);
    transform: rotate(0deg);
  }
  100% {
    -webkit-transform: rotate(359deg);
    transform: rotate(359deg);
  }
}
@keyframes spin {
  0% {
    -webkit-transform: rotate(0deg);
    transform: rotate(0deg);
  }
  100% {
    -webkit-transform: rotate(359deg);
    transform: rotate(359deg);
  }
}

.animation-speed-veryslow{
	-webkit-animation-duration: 10s;
	-moz-animation-duration: 10s;
	-ms-animation-duration: 10s;
	-o-animation-duration: 10s;
	animation-duration: 10s;  

}
.animation-speed-slow{
	-webkit-animation-duration: 6s;
	-moz-animation-duration: 6s;
	-ms-animation-duration: 6s;
	-o-animation-duration: 6s;
	animation-duration: 6s;  

}
.animation-speed-normal{
	-webkit-animation-duration: 3s;
	-moz-animation-duration: 3s;
	-ms-animation-duration: 3s;
	-o-animation-duration: 3s;
	animation-duration: 3s;  
}
.animation-speed-fast{
	-webkit-animation-duration: 1s;
	-moz-animation-duration: 1s;
	-ms-animation-duration: 1s;
	-o-animation-duration: 1s;
	animation-duration: 1s;    
}



.no-touch a:hover{
	@extend %transition;
}
.no-touch a:not(.off-canvas-toggle):not(.search-toggle):hover i.fa{
	@extend %transition;
	@extend %boing;
}

.wait {
  width: 50px;
  height: 50px;
  position: relative;
  margin: 100px auto;
}
.wait.mini{
	width:35px;
	height:35px;
	margin: 60px auto;
}

.double-bounce1
{
	@include opacity(0.6);
	width: 100%;
	height: 100%;
	background-color: #bbb;
  
	position: absolute;
	top: 0;
	#{$default-float}: 0;
  
	-webkit-animation: bounce 2.0s infinite ease-in-out;
	animation: bounce 2.0s infinite ease-in-out;
}
 
.double-bounce2  {
	@extend .double-bounce1; 
  	-webkit-animation-delay: -1.0s;
  	animation-delay: -1.0s;
}


/* Sticky Sidebar */

/*
body:not(.f-topbar-fixed) .has-sticky-sidebar .theiaStickySidebar {
    position: static!important;
}
*/

/* tables */

table{
	width:100%;
	border:0;
	margin:0;
}

table thead tr th{
	border-bottom: 1px solid $global-border-color;
	color: $text-color-1;
	padding: 10px 0;
	font-size:14px;
}

table tbody tr td,
table tbody tr th{
	border-bottom: 1px solid $global-border-color;
	color: $text-color-1;
	padding: 10px 20px 10px 0;
	font-size:16px;
	line-height: 36px;
}
table tbody tr:last-child td,
table tbody tr:last-child th{
	border-bottom: 0;
}
table tbody tr td a{
	font-size:16px;
	line-height: 36px;
	color: $text-color-1;
}

table.large-font tbody tr td,
table.large-font tbody tr td a{
	font-size:18px;
}
table tbody tr td:last-child{
	padding-#{$opposite-direction}:0;
}


/* 2.3 Responsive Assets
   ========================================================================== */

/*
 * Responsive images
 *
 * Fluid images for posts, comments, and widgets
 */
.bypostauthor{width:inherit}

.entry img,
.comment-content img,
.widget img,
.wp-caption {
	max-width: 100%;
}

/* Make sure images with WordPress-added height and width attributes are scaled correctly. */
.comment-content img[height],
img[class*="align"],
img[class*="wp-image-"],
img[class*="attachment-"] {
	height: auto;
}

img.size-full,
img.size-large,
img.wp-post-image {
	height: auto;
	max-width: 100%;
}
img.wp-post-image{
	width:100%;
}
img.wp-post-image.original {
	height: auto;
	max-width: inherit;
	width:auto;
}
.th.original{
	width:auto;
}

/* Make sure videos and embeds fit their containers. */
embed,
iframe,
object,
video {
	max-width: 100%;
}


/* Override the Twitter embed fixed width. */
.twitter-tweet-rendered {
	max-width: 100% !important;
}

/* Images */
.alignleft {
	float: $default-float;
}

.alignright {
	float: $opposite-direction;
}

.aligncenter {
	display: block;
	margin-#{$default-float}: auto;
	margin-#{$opposite-direction}: auto;
}

img.align#{$default-float} {
	margin: 5px 20px 5px 0;
}

.wp-caption.align#{$default-float} {
	margin: 5px 10px 5px 0;
}

img.align#{$opposite-direction} {
	margin: 5px 0 5px 20px;
}

.wp-caption.align#{$opposite-direction} {
	margin: 5px 0 5px 10px;
}

img.aligncenter {
	margin: 5px auto;
}

img.alignnone {
	margin: 5px 0;
}

.wp-caption .wp-caption-text,
.entry-caption,
.gallery-caption {
	font-size: 12px;
	font-style: italic;
	font-weight: 300;
	margin-top:0px;
}

img.wp-smiley,
.rsswidget img {
	border: 0;
	border-radius: 0;
	margin-bottom: 0;
	margin-top: 0;
	padding: 0;
	@extend %box-shadow-none;
}

.wp-caption.alignleft + ul,
.wp-caption.alignleft + ol  {
	list-style-position: inside;
}

form.post-password-form input[type=submit] {
    bottom: -3px;
    #{$default-float}:-5px;
    position: relative;
    padding: 10px 20px;
    vertical-align: bottom;
}

/* 2.4 Icons
   ========================================================================== */

[class^="fa-"],
[class*=" fa-"] {
	font-family: FontAwesome, Fontello;
}

[class^="fa-"]:before,
[class*=" fa-"]:before {
	width: 1em;
	text-align: center;
}

.link [class^="fa-"]:before,
.link [class*=" fa-"]:before {
	width: auto;
}

.fa {
	@extend %fa;
}

.fontawesome-preview i{
	text-align: center;
	width:45px;
	padding:10px;
	margin:2px;
	border:1px solid $global-border-color;
	font-size:17px;
	cursor:pointer;
	@extend %radius;
	@extend %transition_all_slow;
}
.fontawesome-preview i:hover{
	color: $primary-color;
	@extend %boing;
}


/* 2.5 Social Networks
   ========================================================================== */

.social-networks {
	margin:0;
	padding:0;
	list-style:none;
}
.social-networks li {
	display:inline-block;
	float:$default-float;
	vertical-align:top;
	text-align: center;
	margin:0 5px 5px 0;
	width:45px;
	height: 45px;
	background-color: #888;
	@extend %radius;
}

.social-networks li a {
	text-decoration: none;
}
.social-networks li a i.fa {
	padding:0.55em;
	font-size: 22px;
	color:#fff;
	background: transparent;
}
.no-touch .social-networks li:hover a i.fa {
	@extend %transition;
}


footer .social-networks li {
	background-color: #343434!important; 
	border:0;
	width:40px;
	height: 40px;	
	margin:0 10px 10px 0;
}
footer .social-networks li a i.fa {
	color:#878787;
	padding:0.44em;
	font-size: 22px;	
}
.no-touch footer .social-networks li:hover a i.fa {
	color:#fff;
}


/* Social Sharing */

.xtss.stickybox.fixed {
	margin-top:$topbar-sticky-height + $mainmenu-sticky-height!important;	
}

.xtss.hidden{
	@include opacity(0);
} 

@media #{$small-only} {
	.xtss.stickybox.fixed .xtss span.xtss-name{
		display:none;
	}
}


/* 2.6 Common Classes / Tags
   ========================================================================== */

.t-padding {
	padding-top:20px!important;
}
.b-padding {
	padding-bottom:20px!important;
}
.l-padding {
	padding-#{$default-float}:20px!important;
}
.r-padding {
	padding-#{$opposite-direction}:20px!important;
}
.padding{
	padding:20px!important;
}

.t-padding-5 {
	padding-top:5px!important;
}
.b-padding-5 {
	padding-bottom:5px!important;
}
.l-padding-5 {
	padding-#{$default-float}:5px!important;
}
.r-padding-5 {
	padding-#{$opposite-direction}:5px!important;
}
.padding-5{
	padding:5px!important;
}

.t-padding-10 {
	padding-top:10px!important;
}
.b-padding-10 {
	padding-bottom:10px!important;
}
.l-padding-10 {
	padding-#{$default-float}:10px!important;
}
.r-padding-10 {
	padding-#{$opposite-direction}:10px!important;
}
.padding-10{
	padding:10px!important;
}

.t-padding-30 {
	padding-top:30px!important;
}
.b-padding-30 {
	padding-bottom:30px!important;
}
.l-padding-30 {
	padding-#{$default-float}:30px!important;
}
.r-padding-30 {
	padding-#{$opposite-direction}:30px!important;
}
.padding-30{
	padding:30px!important;
}

@media #{$small-only} {

	.l-padding {
		padding-#{$default-float}:0!important;
	}
	.r-padding {
		padding-#{$opposite-direction}:0!important;
	}
	.l-padding-10 {
		padding-#{$default-float}:0!important;
	}
	.r-padding-10 {
		padding-#{$opposite-direction}:0!important;
	}	
}

time,
.time,
div.author,
span.author{
	font-size: 14px;
	line-height: 27px;
	font-weight: 300;
	color: $text-color-2;
}

mark {
	background: none;
	font-weight: bold;
}